.Form {
	box-sizing: border-box;
}
.Form form {
	margin-bottom: 2rem;
	max-width: 375px;
}
.Form table {
	border: 1px solid black;
	margin-bottom: 10px;
}
.Form fieldset {
	padding: 0.625rem;
}
.Form-word {
	font-style: italic;
	max-width: 100%;
}
.Form table th {
	text-align: left;
}
table,
td,
th {
	border: 1px solid black;
}
td,
th {
	padding: 5px;
}
