.Form {
	box-sizing: border-box;
}
.Form form {
	margin: 1rem 0 1.5rem;
	max-width: 375px;
}
.Form form input {
	border: none;
	height: 35px;
}
.Form form input::-webkit-input-placeholder {
	color: #262625;
	font-size: 1rem;
}
.Form form input::-moz-placeholder {
	color: #262625;
	font-size: 1rem;
}
.Form form input:-ms-input-placeholder {
	color: #262625;
	font-size: 1rem;
}
.Form form input::-ms-input-placeholder {
	color: #262625;
	font-size: 1rem;
}
.Form form input::placeholder {
	color: #262625;
	font-size: 1rem;
}
.Form form button {
	background-image: url(../images/search-icon.png);
	background-position: center right;
	background-repeat: no-repeat;
	border: none;
	color: #262625;
	font-size: 0.8rem;
	height: 35px;
	text-align: left;
	width: 75px;
}
.Form table {
	border: 2px solid black;
	margin-bottom: 1rem;
	max-width: 375px;
}
/* every second table */
.Form table:nth-of-type(odd) {
	background-color: #495b73;
}
.Form table:nth-of-type(even) {
	background-color: #262625;
}
.Form fieldset {
	border-color: black;
	padding: 0.625rem;
}
.Form-word {
	font-style: italic;
	max-width: 100%;
}
.Form .table-wrapper table th {
	text-align: left;
}
table,
td,
th {
	border: 2px solid black;
}
td,
th {
	padding: 5px;
}

@media only screen and (min-width: 375px) {
	.Form form fieldset input {
		padding: 0.5rem;
	}
	.Form form fieldset input::-webkit-input-placeholder {
		font-style: italic;
	}
	.Form form fieldset input::-moz-placeholder {
		font-style: italic;
	}
	.Form form fieldset input:-ms-input-placeholder {
		font-style: italic;
	}
	.Form form fieldset input::-ms-input-placeholder {
		font-style: italic;
	}
	.Form form fieldset input::placeholder {
		font-style: italic;
	}
	.Form form fieldset button {
		padding: 0.5rem;
	}
	.Form .table-wrapper table {
		min-width: 375px;
		max-width: -webkit-fit-content;
		max-width: -moz-fit-content;
		max-width: fit-content;
	}
	.Form .table-wrapper th,
	.Form .table-wrapper td {
		padding: 0.5rem;
	}
}
@media only screen and (min-width: 1024px) {
	.Form .table-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
	}
	.Form .table-wrapper table {
		min-height: 7rem;
		min-width: 100%;
	}
}
@media only screen and (min-width: 1640px) {
	.Form .table-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (min-width: 1920px) {
	.Form .table-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}
