.Form {
	box-sizing: border-box;
}
.Form form {
	margin: 1rem 0 1.5rem;
	max-width: 375px;
}
.Form table {
	border: 1px solid black;
	margin-bottom: 1rem;
	max-width: 375px;
}
.Form table:nth-of-type(odd) {
	background-color: rgb(211, 211, 211);
}
.Form fieldset {
	padding: 0.625rem;
}
.Form-word {
	font-style: italic;
	max-width: 100%;
}
.Form .table-wrapper table th {
	text-align: left;
}
table,
td,
th {
	border: 1px solid black;
}
td,
th {
	padding: 5px;
}

@media only screen and (min-width: 375px) {
	.Form form fieldset input {
		padding: 0.5rem;
	}
	.Form form fieldset input::-webkit-input-placeholder {
		font-style: italic;
	}
	.Form form fieldset input::-moz-placeholder {
		font-style: italic;
	}
	.Form form fieldset input:-ms-input-placeholder {
		font-style: italic;
	}
	.Form form fieldset input::-ms-input-placeholder {
		font-style: italic;
	}
	.Form form fieldset input::placeholder {
		font-style: italic;
	}
	.Form form fieldset button {
		padding: 0.5rem;
	}
	.Form .table-wrapper table {
		min-width: 375px;
		max-width: -webkit-fit-content;
		max-width: -moz-fit-content;
		max-width: fit-content;
	}
	.Form .table-wrapper th,
	.Form .table-wrapper td {
		padding: 0.5rem;
	}
}
@media only screen and (min-width: 1024px) {
	.Form .table-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
	}
	.Form table {
		min-height: 7rem;
	}
}
